/* Cabeçalho */
header {
    background-color: white;
    justify-content: flex-end;
}
h1{
    float: left;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    position: relative;
    padding: 32px 10px;
    text-decoration: none;
}

/* Corpo */
body #offer {
    margin-bottom: 2%;
    float: left;
}

body #search {
    margin-bottom: 2%;
    float: right;
}

.ofertas {
    border: solid;
    margin-top: 7%;
    position: relative;
    width: 45%;
    background: linear-gradient(to right, cyan, deepskyblue);

}

.ofertas img {
    width: 100%;
    float: top;
}

.ofertas h4 {
    margin: 5%;
}

.procuras {
    border: solid;
    float: right;
    margin-top: 7%;
    margin-left: 5%;
    position: relative;
    top: -2160px;
    width: 45%;
    background: linear-gradient(to right, cyan, deepskyblue);

}

.procuras img {
    width: 100%;
    float: top;
}

.procuras h4 {
    margin: 5%;
}
/* Rodapé */
footer {
    background: linear-gradient(to right, whitesmoke, lightgray);
    float: bottom;
}