/* Cabeçalho */
header {
    background: linear-gradient(to right, whitesmoke, lightgray);
}

h1{
    float: left;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    position: relative;
    padding: 32px 10px;
    text-decoration: none;
}

/* Corpo */
.type {
    margin-top: 5%;
    margin-bottom: 2%;
}

.type #offer {
    float: left;
}

.type #search {
    float: right;
}

body {
    background: linear-gradient(to right, lightblue, violet);
}

.ofertas {
    float: left;
    margin-top: 7%;
    position: relative;
    width: 45%;
}

.ofertas img {
    width: 100%;
    float: top;
}

.ofertas .box {
    background: linear-gradient(to right, cyan, deepskyblue);
    position: relative;
    left: -10%;
    width: 100%;
}

.procuras {
    float: right;
    margin-top: 7%;
    position: relative;
    width: 45%;
}

.procuras img {
    width: 100%;
    float: top;
}

.procuras .box {
    background: linear-gradient(to right, cyan, deepskyblue);
    position: relative;
    left: 12%;
}

/* Rodapé */
footer {
    background: linear-gradient(to right, whitesmoke, lightgray);
    clear: both;
}